NEXT_PUBLIC_APP_NAME="Assiduity"
NEXT_PUBLIC_ORGANIZATION_NAME="Australe Formation"

DIGIFORMA_API_URL="https://app.digiforma.com/api/v1/graphql"
DIGIFORMA_API_TOKEN="TOKEN_DIGIFORMA_ICI"

DIGIFORMA_TARGET_YEAR=2026
DIGIFORMA_ONLY_ACTIVE=true
DIGIFORMA_ACTIVE_PIPELINE_STATE=ongoing
DIGIFORMA_USE_API_PIPELINE_FILTER=false

DIGIFORMA_PAGE_SIZE=10
DIGIFORMA_MAX_PAGES=20
DIGIFORMA_REQUEST_TIMEOUT=45000

NEXT_PUBLIC_SUPABASE_URL="https://xxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="xxx"
SUPABASE_SERVICE_ROLE_KEY="xxx"

RESEND_API_KEY="re_xxx"
RESEND_FROM_EMAIL="formation@australeformation.re"
RESEND_FROM_NAME="Australe Formation"
